*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

/* ---------------------------------------- Variable Declaration ----------------------- */

:root{
    --textColor :#fff;
    --bgColor : #252529;

    
}
/* ------------------------------------------------------------------------------------------ */


.home-page{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url('./Images/249105\ \(1\).jpg');
    /* position: relative; */
}

header{
    display: block;
    position:fixed;
    width: 100%;
}
nav{
    height: 40px;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: block;

    
    
}

nav ul{
    display: flex;
    list-style: none;
    width: 100%;
    height: 40px;
}

nav li{
    display: inline;
    float: left;
    color: #fff;
    margin: 10px 30px auto 10px;
}


.main-container h1{
    /* top: 30%; */
    padding-top: 150px;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 70px;
    
}

.main-container h2{
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 30px;
    line-height: 80px;
    text-shadow: 2px 2px 2px #252529;
    
}

.main-container h3{
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: 20px;
    text-shadow: 2px 2px 2px #252529;
}

.container-1{
    width: 100%;
    background-color: #252529;
    text-align: center; 
    justify-content: center; 
}

.logo1{
    display: flex;
    text-align: center;
    justify-content: center;
}

.logo1 img{
    width: 100px;
    height: 100px;
    align-items: center;
    margin-top: 30px;
}

.logo1 h1{
    color: #fff;
    margin-top: 50px;
    font-size: 50px;

}

.logo2{
    color: #fff;
    box-sizing: border-box;
    margin: 0 150px 0 150px;
    font-size: 20px;
    line-height: 30px;
}
.logo2 h2,p{
    margin-top: 20px;
    margin-bottom: 10px;
}

button{
    height: 50px;
    padding: 15px;
    background-color: rgb(198, 5, 5);
    color: #fff;
}
button:hover{
    background-color: red;
}

.container-2{
    width: 100%;
    text-align: center; 
    justify-content: center;
    padding: 50px;
}
.container-2 p{
    line-height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.read-more{
    height: 50px;
    padding: 15px;
    background-color: rgb(1, 4, 189);
    color: #fff;
    margin-bottom: 10px;
}

.read-more:hover{
    background-color: blue;
}

.container-3{
    background-color: #252529;
    color: #fff;
    /* height: 500px; */
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 200px 100px 200px 100px;
    line-height: 30px;

}

.container-4{
    display: flex;
    justify-content: space-around;
}
.pic-text{
    margin-top: 100px;
    margin-left: 80px;
    margin-right: 60px;
}

.container-4 a{
    text-decoration: none;
}

.container-5{
    display: flex;
    background-color: #252529;
    color: #fff;
    justify-content: space-around;
    font-size:13px;
    padding: 30px;
    line-height: 20px;
}
.last-div{
    background-color: #333;
    padding: 20px;
    color: #fff;
    text-align: center;
}